@charset "UTF-8";

.button {
	display: inline-block;
	border-radius: 20%; /* 角丸       */
	font-size: 18pt; /* 文字サイズ */
	text-align: center; /* 文字位置   */
	cursor: pointer; /* カーソル   */
	padding: 50px 50px; /* 余白       */
	background: #6666ff; /* 背景色     */
	color: #ffffff; /* 文字色     */
	line-height: 1em; /* 1行の高さ  */
	transition: .3s; /* なめらか変化 */
	box-shadow: 1px 1px 15px #666666; /* 影の設定 */
	border: 10px solid #6666ff; /* 枠の指定 */
}

.button:hover {
	box-shadow: none; /* カーソル時の影消去 */
	color: #6666ff; /* 背景色     */
	background: #ffffff; /* 文字色     */
}

div.position input {
	margin-left: 50px;
	margin-right: 50px;
}

.button-area {
	text-align: center;
}
.data{
	
}